

.nav-element {
    font-family: 'Arvo', serif;
    padding: 2% 0 1.5%;
    text-align: center;
    font-size: 14px;
}


#userInput {
    width: 70%;
    padding: 0;
    height: 27px;
}

.heading {
    text-align: center;
    margin: 0 0 2% 0;
}

.heading > h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 4em;

}

.display-container {
    padding: 0 3%;
}

.movies {
    margin: 0 5%;
}

.movieDisplay {
    font-family: 'Arvo', serif;
    min-height: 300px;
    margin: 1% 0;
    border: 2px solid black;
}

.hide {
    visibility: hidden;
}

.search-view img {
    margin-left: 2%;
    float: right;
}

.search-view h3 {
    margin-top: 0;
}

.search-view button {
    margin-left: 7%;
}

.button-sect {
    margin: 5% 0 10%;

}
